# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*
dist/
build/

# Logs
logs/
*.log
*.log.*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# PhpStorm-specific
*.iml
out/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Coverage and test output
coverage/
.nyc_output/
jest-html-reporters-*

# Misc
*.tgz
*.zip
*.tmp
*.swp
